img[alt="Politecnico di Torino Logo"] {
	content:url("chrome-extension://__MSG_@@extension_id__/immagini/logologin.png");
}

#imgOrari {
	content:url("chrome-extension://__MSG_@@extension_id__/immagini/orologio.png");
	width: 23px;
	height: 23px;
	margin: 0 10px;
}

body >table >tbody> tr> td> table> tbody >tr> td> div >img {
	content:url("chrome-extension://__MSG_@@extension_id__/immagini/header-grey.png");
}

#topnav,
.c_logoPoli2 {
	background: url(chrome-extension://__MSG_@@extension_id__/immagini/header-grey.png) no-repeat !important;
}

body {
	background: #222 !important;
}

.navbar-default,
#navbar_mainazi li > a,
.navbar-default .navbar-nav>li>a {
	background-color: #000 !important;
	margin: 0px;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
	color: #ffffff !important;
	background-color: #FF9800 !important;
}
#nav_menu,
.c_strisciaArancione {
    background-color: #000 !important;
	margin:0px;
}
.c_titleBar {
	display: block;
}
.btn.btn-default.dropdown-toggle {
	background-color: #000 !important;
}

a[href^="mailto"] {
	color: #FF9800 !important;
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-nav > li:hover a{
	color: white;

}

table>tbody>tr>td>a,
#divAltriAAcc > a,
p > a {
	color: #FF9800;
}

table>tbody>tr:hover>td>a,
table>tbody>tr:hover>td>a>i,
table>tbody>tr:hover>td>a>span {
	color: white !important;
}

body > .container-fluid  {
	padding-top: 20px;
}

.selected td {
    background-color: #ff8002 !important;
}

.webkit #messagelist tr td,
.webkit #messagelist tr td a,
.webkit #messagelist tr th,
.webkit #messagelist tr th a,
#messagelistfooter, #messagelistfooter span, #message.statusbar, .listbox .boxfooter, .listbox .boxfooter span,
.content {
	background-color: #333;
	color: white !important;
	text-shadow: none !important;
}

.records-table tr.selected td a, .records-table tr.selected td span {
    background-color: #ff8002;
}

.nav-sidebar > .active > a,
.breadcrumb {
	background-color: #1c1c1c !important;
}
#materialeDiv > div,
#directorylist li.addressbook.selected a,
#settings-sections span.listitem a,
.listing tbody td,
.uibox,
.panel-body,
#main p a,
.c_relative > div > span,
.ui-tabs-anchor,
#messagepreview,
#mailboxcontainer,
#mailboxlist li.mailbox a,
.wrapper,
.well,
.panel.panel-primary,
.nav.nav-sidebar.ng-scope,
.row,
.container-fluid,
.container-fluid > div > div,
#note_accordion > div,
.RegionHeaderColor {
	background-color: #222;
	color: white !important;
} 

#idSeaRes,
.bg-info.polinota,
.uibox .boxtitle,
body > table > tbody > tr > td,
.ui-tabs-panel,
#topnav,
.policorpo,
.c_titleBar,
div.RegionBorderMao,
.table>tbody>tr, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th,
table>tbody>tr, table>tbody>tr>td, table>tbody>tr>th, table>tfoot>tr>td, table>tfoot>tr>th, table>thead>tr>td, table>thead>tr>th {
	background-color: #222 !important;
	color: white !important;
}

.bg-info,
.testo_img {
	background-color: #000 !important;
}

.btn-info,
.list-help-item > a > span:last-child,
.langs,
.selected td .text-warning,
.idplaceholder,
p,
.exlegend,
.h6 a,
.h5 a {
	color: white !important;
}

.calendar_poli_event_inner,
.calendar_poli_corner_inner,
.calendar_poli_rowheader_inner,
.calendar_poli_colheader_inner {
	background-color: #ddd !important;
	background-image: none;
	color: #333;
}

.calendar_poli_cell_inner {
	border-right: 1px solid #ff800254;
    border-bottom: 1px solid #ff800254;
    background: #222 !important;
}

#note_accordion p {
	color: #000 !important;
}

.bg-warning  {
	background-color: #a40000 !important;
}

.container-fluid > div:nth-child(4) {
	background-color: #fff !important;
}

div.RegionBorderMao {
	border: 1px solid white !important;
}
.policorpolink {
	color: #FF9800 !important;
}
#foto_colsx {
	margin-top: 20px;
    border-radius: 20px;
}

#portlet_container {
	padding-top: 20px;
}

.table>tbody>tr>td {
	padding: 5px !important;
}

.RegionBorderMao > div:nth-child(1) > div:nth-child(4) {
	color: black;
}

.RegionBorderMao > div > div {
	color: black;
}

#portlet_container>#container>div>.RegionBorderMao {
	padding: 0px !important;
}

.argoLink {
	color: white;
}

.link_img:hover {
	background-color: black;
}

.toolbar a.button {
	text-shadow: none;
	color: white;
}
.message.unread td,
.message.unread span {
	color: #ff8002 !important;
}